@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.date {
    font-size: 300%;
    text-align: center;
    color: white;
    margin-bottom: 8%;

}

.title{
	font-weight: 100;
	font-size: 500%;
	color: white;
}
.container{
    position: relative;
}
.header{
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}

img{
	content: "";
    position: absolute;
    overflow: hidden;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.75)),url('../bgagain.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 101%; width: 101%; /* Using Glen Maddern's trick /via @mente */
    /* don't forget to use the prefixes you need */
    transform-origin: top right;
    /*-webkit-filter: blur(2px);*/

}
.email{
    padding-top: 20px;
    border-bottom: 1px solid white;
    width: 350px;
    color: gray;
}

.moreInfo{
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.blurb{
	font-size: 170%;
	font-weight: 100;
	color: white;
}
 
.btn-signUp{
	margin-top: 1%;
}
.afterSignup{
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	color: white;
	font-size: 200%;
	font-weight: 100;
}
.sponsors{
    font-size: 150%;
    color: white;
    position: absolute;  
    left: 50%;
    top: 50%;
    margin-top: 1%;
    transform: translate(-50%, -70%);    
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
}


footer{
    font-size: 150%;
    color: gray;
    position:absolute;
    bottom:0;
    width:100%;
    height:25%;
}

input{
	text-align: center;
    font-family: inherit;
    font-size: 150%;
    font-weight: 300;
    padding: 0 0 10px;
    width: 100%;
    display: block;
    margin: 0;
    background: inherit;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
    transition: border-bottom ease-out .2s;
    -webkit-transition: border-bottom ease-out .2s;
}